<h1> <%= @contact.name %> </h1>
<h2> <%= @contact.surname %> </h2>
<h2> <%= @contact.phone %> </h2>
<h2> <%= @contact.email %> </h2>
<p> <%= @contact.address %></p>

<%= link_to "Edit", edit_contact_path(@contact) %>
